.small-logo {
    height: 24px;
    width: 24px;
}
.contact-container {
    display: flex;
    flex-direction: column;
    div {
        margin: .5em;
        display: flex;
        align-items: center;
        a {
            margin-left: .5em;
        }
    }
}