#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    div {
        max-width: 400px;
        margin: auto;
    }
    p {
        justify-content: flex-start;
    }
    h2 {
        text-align: center;
    }
    img {
        width: 75%;
        max-width: 300px;
    }
    .home-info {
        align-self: baseline;
    }
}

// want to better-align info; cap width or something?
// above solution not ideal; want to start all