#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    div {
        max-width: 400px;
        margin: auto;
        background-color: #FCF5E5;
        box-sizing: border-box;
        padding: 30px;
        position: relative;
    }
    div, 
    div::before, 
    div::after {
        box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        border: 1px solid #bbb;
    }
    div::before,
    div::after {
        content: "";
        position: absolute;
        height: 95%;
        width: 99%;
        background-color: #FCF5E5;
    }
    div::before {
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1;
    }
      
    div::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -2;
    }
    p {
        justify-content: flex-start;
        font-family: 'papyrus';
    }
    h2 {
        text-align: center;
    }
    img {
        width: 75%;
        max-width: 300px;
    }
    .home-info {
        align-self: baseline;
    }
    @media screen and (max-width: 600px){
        #home-container {
            width: 90%;
            div {
                width: 90%;
            }
        }
    }
}

// want to better-align info; cap width or something?
// above solution not ideal; want to start all