* {
    margin: 0px;
    max-width: 100%;
    font-family: 'Optima';
}
#root {
    min-height: 100%;
}

body::after {
    content: "";
    background: url('background.jpg');
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -3;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.nav-buffer {
    height: 80px;
}

@media screen and (max-width: 500px){
    .nav-buffer {
        height: 150px
    }
}