#navbar {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    // background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    a {
        margin: .5em;
        font-size: larger;
        text-decoration: none;
        // color: white;
        display: inline-block;
        position: relative;
        /* padding-bottom: 0.25em; */
        font-family: "Titillium Web", sans-serif;
    }
    .selected {
        border-bottom: 1px solid black;
    }
    .selected:after {
        transform: scaleX(0);
        transition: transform 0s;
    }
    .selected:hover:after {
        transform: scaleX(0);
    }
    a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: inline-block;
        height: 1px;
        left: 0;
        width: 100%; 
        position: absolute;
        background: black;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    a:hover:after { 
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media screen and (max-width: 500px){
    #navbar {
        height: 120px;
        a {
            font-size: large;
        }
        .selected {
            border-bottom: 2px solid black;
        }
        a:after {
            height: 2px;
        }
    }

    .nav-bitmoji {
        display: none;
    }
}

.nav-bitmoji {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}