#projects-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    .projects-page-title {
        margin-top: .5em;
        margin-bottom: .5em;
        text-align: center;
        max-width: 75%;
        // font-family: 'Impact';
    }
    h5 {
        margin-bottom: 1em;
        text-align: center;
        max-width: 75%;
        font-style: italic;
    }
    .project-block {
        width: 75%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        border-radius: 5%;
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;
        background-color: rgba(21, 27, 84, 0.25);
        * {
            font-style: italic;
            font-family: 'Palatino';
            color: white;
        }
        .project-links {
            margin-top: .25em;
        }
        a {
            padding-bottom: .25em;
            text-decoration: none;
            font-style: normal;
            display: inline-block;
            position: relative;
        }
        a:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: inline-block;
            height: 2px;
            left: 0;
            width: 100%; 
            position: absolute;
            background: #fff;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        a:hover:after { 
            transform: scaleX(1);
            transform-origin: bottom left;
        }
        .media {
            margin-top: 1em;
            width: 100%;
            max-width: 560px;
        }
        p {
            margin-top: .5em;
            max-width: 65%;
            margin-bottom: 1em;
        }
        .project-name {
            font-style: normal;
            text-align: center;
            text-shadow: -1px 1px 0 black;
            margin: auto;
            margin-top: .5em;
        }
        .short-desc {
            font-style: italic;
            font-weight: bold;
            font-size: large;
            max-width: 100%;
            text-align: center;
            margin-bottom: .25em;
        }
        margin-bottom: 1em;
    }
    .project-block:nth-child(even) {
        background-color: rgba(12, 14, 41, 0.25);
    }
}

@media screen and (max-width: 500px){
    .project-block {
        min-width: 90%;
    }
}