* {
  margin: 0px;
  max-width: 100%;
  font-family: 'Optima';
}
#root {
  min-height: 100%;
}
/* body::after {
  content: "";
  background: url('background.jpg');
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -3;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

.nav-buffer {
  height: 80px;
}
@media screen and (max-width: 500px) {
  .nav-buffer {
    height: 100px;
  }
}
#navbar {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  /* padding-right: 2rem; */
  align-items: center;
  background-color: white;
  opacity: 90%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#navbar a {
  margin: 0.5em;
  font-size: larger;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  /* padding-bottom: 0.25em; */
  font-family: "Titillium Web", sans-serif;
}
#navbar a:last-child {
  margin-right: 2rem;
}
#navbar .selected {
  border-bottom: 1px solid purple;
}
#navbar .selected:after {
  transform: scaleX(0);
  transition: transform 0s;
}
#navbar .selected:hover:after {
  transform: scaleX(0);
}
#navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  width: 100%;
  position: absolute;
  background: purple;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#navbar .no-nav-styling {
  margin: 0;
}
.nav-bitmoji {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  #navbar {
    height: 100px;
    /* justify-content: center; */
    /* padding-right: 0; */
    width: 100vw;
  }
  #navbar a {
    font-size: large;
  }
  #navbar .selected {
    border-bottom: 2px solid purple;
  }
  #navbar a:after {
    height: 2px;
  }
  #navbar a:last-child {
    margin-right: 1rem;
  }
  .nav-bitmoji {
    /* display: none; */
    width: 2rem;
    height: 2rem;
  }
}
#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
#home-container .welcome-info {
  max-width: 400px;
  margin: auto;
  background-color: #FCF5E5;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}
#home-container .welcome-info,
#home-container .welcome-info::before,
#home-container .welcome-info::after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}
#home-container .welcome-info::before,
#home-container .welcome-info::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #FCF5E5;
}
#home-container .welcome-info::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}
#home-container .welcome-info::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
#home-container p {
  justify-content: flex-start;
  font-family: 'papyrus';
}
#home-container h2 {
  text-align: center;
}
#home-container img {
  width: 75%;
  max-width: 300px;
}
#home-container .home-info {
  align-self: baseline;
}
@media screen and (max-width: 600px) {
  #home-container #home-container {
    width: 90%;
  }
  #home-container #home-container div {
    width: 90%;
  }
}
.contact-container {
  display: flex;
  flex-direction: row;
}
.contact-container div {
  margin: 0.5em;
  display: flex;
  align-items: center;
}
.contact-container div a {
  margin: 1em;
}
.contact-container div a .small-logo {
  width: 36px;
  height: auto;
}
#contact-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  align-items: center;
}
#contact-page #contact-img {
  width: 50%;
  max-width: 350px;
}
#contact-page h2 {
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
}
#projects-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
#projects-container .projects-page-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  /* max-width: 75%; */
  width: calc(100vw - 4rem);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  padding-left: 4rem;
}

#projects-container .projects-navbar {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  width: fit-content;
  /* padding-left: 5rem; */
}

#projects-container h5 {
  margin-bottom: 1em;
  text-align: center;
  max-width: 75%;
  font-style: italic;
}
#projects-container .project-block {
  width: 65vw;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 5%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  /* background-color: rgba(21, 27, 84, 0.25); */
  margin-bottom: 1em;
}
#projects-container .project-block * {
  /* font-style: italic; */
  font-family: 'Palatino';
  color: black;
}

#projects-container .project-block.professional-project {
  width: 45%;
}
.project {
  /* margin-top: .25em; */
  margin-bottom: .5em;
  padding-left: 2rem;
  width: fit-content
}
.project:hover {
  cursor: pointer;
  color: purple
}
.project.selected {
  border-left: purple solid 5px;
  padding-left: calc(2rem - 5px)
}
#projects-container .project-block .project-links {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
#projects-container .project-block a {
  padding-bottom: 0.25em;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  position: relative;
}
#projects-container .project-block a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  width: 100%;
  position: absolute;
  background: purple;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#projects-container .project-block a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#projects-container .project-block .media a:after {
  background: none;
}

/* #projects-container .project-block a:hover {
  color: blue;
} */

#projects-container .project-block .media {
  margin-top: 1em;
  width: 100%;
  max-width: 560px;
}
#projects-container .project-block p {
  margin-top: 0.5em;
  max-width: 65%;
  margin-bottom: 1em;
}
#projects-container .project-block .project-desc {
  font-size: 1.25rem;
}
#projects-container .project-block .project-name {
  font-style: normal;
  text-align: center;
  text-shadow: -1px 1px 0 black;
  margin: auto;
  margin-top: 0.5em;
}
#projects-container .project-block .short-desc {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0.25em;
}
/* #projects-container .project-block:nth-child(even) {
  background-color: rgba(12, 14, 41, 0.25);
} */
#projects-container .hide-project {
  display: none;
}
#project-flexbox, .project-flexbox {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 8rem);
  margin-left: 4rem;
  margin-right: 4rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media screen and (max-width: 500px) {
  .project-block {
    min-width: 90%;
  }
  #projects-container .projects-page-title {
    padding-left: 0;
    text-align: center;
    width: 100vw;
  }
  #projects-container .projects-navbar {
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
  }
  #projects-container .projects-navbar {
    padding-left: 0;
    margin-bottom: 1rem;
  }
  .project {
    padding-left: 1rem;
    font-size: 1.4rem;
    width: fit-content
  }
  .project.selected {
    border-left: purple solid 3px;
    padding-left: calc(1rem - 3px)
  }
  #project-flexbox, .project-flexbox  {
    flex-direction: column;
    width: 100vw;
    padding: none;
    align-items: center;
  }
  /* #projects-container .project-block .project-desc {
    font-size: 1.1rem;
  } */
}
.carousel {
  width: 100%;
  overflow-x: hidden;
  height: 50vw;
  max-height: 380px;
  position: relative;
  transition: 0.25s;
  /* border-radius: 5%; */
}
.arrows {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* opacity: 0.75; */
}
.arrows :hover {
  cursor: pointer;
}
.arrow {
  height: 30px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  min-width: 30px;
  background-color: purple;
  color: white !important;
  border-radius: 50%;
  /* border: solid black 1px; */
  font-size: x-large;
  font-family: "Monospace" !important;
  text-align: center;
  font-weight: 700;
}
.carousel-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.25s;
}
.carousel-picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-picture img {
  height: 100%;
  width: 100%;
}
.about-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}
.about-links .about-link {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding-bottom: 0.25em;
}
.about-links .about-link:hover {
  cursor: pointer;
  color: white;
  text-shadow: -1px 1px 0 purple;
}
.about-links .about-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0;
  width: 100%;
  position: absolute;
  background: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.about-links .about-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.about-links .selected {
  color: white;
  border-bottom: 2px solid white;
  text-shadow: -1px 1px 0 purple;
}
.about-links .selected:after {
  transform: scaleX(0);
  transition: transform 0s;
}
.about-links .selected:hover:after {
  transform: scaleX(0);
}
.about-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em;
  background-color: #FCF5E5;
  padding-bottom: 2em;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15), 0 -10px 0 -5px #eee, 0 -10px 1px -4px rgba(0, 0, 0, 0.15), 0 -20px 0 -10px #eee, 0 -20px 1px -9px rgba(0, 0, 0, 0.15);
}
.about-content img {
  width: 50%;
  max-width: 300px;
}
.about-content div {
  max-width: 90%;
  margin: auto;
  justify-content: flex-start;
}
.about-content p {
  justify-content: flex-start;
  font-family: 'papyrus';
}
.hidden {
  display: none;
}

/* Experience page */

#experience-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.skill-icon {
  width: 100px;
  height: 100px;
  padding: 1rem;
  border-radius: 50%;
  background-color: rgb(151, 92, 151);
}

.experience-header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  /* max-width: 75%; */
  width: calc(100vw - 4rem);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  padding-left: 4rem;
  font-size: 2rem;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill-grouping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 2rem;
}

.skill-header {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .25rem;
  text-align: center;
}

.skill-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  font-size: 1.25rem;
}

.skill-text > *:last-child {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid gray 1px;
}

.professional-experience-comp-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative
  /* margin-left: 4rem;
  margin-right: 4rem;
  width: calc(100vw - 8rem); */
  /* padding-bottom: 2.5rem;
  margin-bottom: 2rem; */
  /* border-bottom: solid gray 1px; */
}

.professional-experience-container {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: solid gray 1px;
  margin-left: 4rem;
  margin-right: 4rem;
  width: calc(100vw - 8rem)
}

.professional-experience-navbar {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  width: fit-content;
  /* padding-left: 5rem; */
}

.experience {
  /* margin-top: .25em; */
  margin-bottom: .5em;
  padding-left: 2rem;
  width: fit-content
}
.experience:hover {
  cursor: pointer;
  color: purple
}
.experience.selected {
  border-left: purple solid 5px;
  padding-left: calc(2rem - 5px)
}
.professional-experience-block {
  min-width: 50%;
  max-width: 65%;
}
.experience-desc {
  font-size: 1.75rem;
  margin-bottom: .25rem
}
.experience-subheader {
  color: rgb(78, 77, 77);
  margin-bottom: .1rem;
  font-size: .8rem;
}
.experience-bullet-list {
  padding-left: .5rem;
  margin-top: 1rem;
  list-style-type: "+";
}
.experience-bullet-point {
  margin-bottom: .25rem;
  color: rgb(78, 77, 77);
  font-size: 1rem;
}
.experience-bullet-point::marker {
  color: purple;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.experience-bullet-point span {
  position: relative;
  left: .5rem;
}
.professional-project .arrow {
  background-color: #ED5025;
}


#new-home-container {
  height: 100vh
}

.home-text-container {
  height: 350px;
  width: 50%;
  max-width: 400px;
}

.home-preheader {
  font-family: monospace;
  font-size: 1.25rem;
  letter-spacing: -1px;
  color: rgb(50,50,50);
  margin-bottom: .5rem;
}

.home-header {
  font-family: "Titillium", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #313131;
}

.emphasis-text {
  font-family: "Titillium", sans-serif;
  color: rgb(151, 92, 151);
}

.home-description {
  margin-top: 1rem;
  font-size: 1.75rem;
  font-family: "Titillium", sans-serif;
  font-weight: 300;
  color: rgb(121, 120, 120)
}

.home-content-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
  justify-content: space-around;
  align-items: center;
}

.home-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(220, 220, 220)
}

.home-image-wrapper {
  padding: 1.5rem;
  border: solid rgb(205 157 205) 1px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.home-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-block.professional-project .carousel {
  /* height: auto; */
  height: calc(21.25vw + 1px);
}
.project-block.professional-project .media {
  width: 45vw;
  height: 21.25vw;
}
.project-block.professional-project .media .img-link {
  background-size: cover;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.project-block.professional-project .media .img-link:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.media.shadow .img-link {
  box-shadow: 3px 3px 3px gray;
  border-top: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
}
#projects-container .project-block .project-caption {
  margin-top: 1rem;
  color:rgb(75, 75, 75);
  font-family: monospace;
  font-size: 1.2rem;
}
.hide-desktop {
  display: none;
}
.mobile-only {
  display: none;
}

.project-flexbox.professional-projects {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: solid gray 1px;
}

@media screen and (max-width: 800px) {
  .professional-experience-navbar, #projects-container .projects-navbar, .experience-desc {
    font-size: 1.4rem;
  }
  #projects-container .project-block .project-caption {
    margin-top: 0;
    /* margin-bottom: .5rem; */
  }
  .experience, .project {
    padding-left: 1rem;
  }
  .experience.selected, .project.selected {
    border-left: purple solid 3px;
    padding-left: calc(1rem - 3px)
  }
  .professional-experience-container, #project-flexbox, .project-flexbox  {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100vw - 4rem)
  }
  .experience-header, #projects-container .projects-page-title {
    padding-left: 2rem;
    width: calc(100vw - 2rem)
  }
  .professional-experience-block {
    min-width: 40%;
    max-width: 60%
  }
  .experience-header {
    font-size: 1.75rem;
  }
  .hide-desktop {
    display: block
  }
  .desktop-only {
    display: none
  }
  .experience-bullet-point::marker {
    font-size: 1.1rem;
  }
  .skills-container {
    flex-direction: column;
  }
  .skill-grouping {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  #projects-container .project-block .project-desc {
    font-size: 1.1rem;
  }
  #new-home-container {
    flex-direction: column;
  }
  .home-content-container {
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .home-text-container {
    height: auto;
    width: 90%;
    text-align: center;
    margin-top: 3rem;
  }
  .home-image-container.mobile-only {
    display: flex;
    margin-top: .5rem;
  }
  .home-image {
    width: 175px;
    height: 175px;
  }
  .home-image-wrapper {
    padding: 1rem;
    width: 175px;
    height: 175px;
  }
  .contact-container.mobile-only {
    display: flex;
  }
  .contact-container div a .small-logo {
    width: 30px;
    height: auto;
  }
  .home-description {
    font-size: 1.4rem;
  }
  .home-header {
    font-size: 3rem;
  }
  .home-preheader {
    font-size: 1.1rem;
  }
  #projects-container .project-block.professional-project {
    width: 80%;
  }
  #projects-container .project-block.professional-project.carousel-container {
    width: 95%;
  }
  .project-block.professional-project .media {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    height:fit-content;
  }
  .project-flexbox.professional-projects {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: solid gray 1px;
  }
  .project-block.professional-project .carousel {
    width: 100%;
    margin: auto;
    height: 43vw;
  }
  .project-block.professional-project .carousel-picture {
    border: 1px solid rgb(50, 50, 50);
    height: calc(43vw - 2px);
  }
}

@media screen and (max-width: 500px) {
  .experience-header, #projects-container .projects-page-title  {
    padding-left: 0;
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  .experience-header.justify-left {
    padding-left: 1.5rem;
    width: calc(100vw-1.5rem);
    text-align: left;
  }
  #projects-container .projects-navbar {
    justify-content: space-between;
  }
  .professional-experience-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(100vw - 3rem);
  }
  /* .professional-experience-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  } */
  .experience {
    padding-left: .5rem;
  }
  .experience, .experience-desc {
    font-size: 1.1rem;
  }
  .experience.selected {
    border-left: purple solid 2px;
    padding-left: calc(.5rem - 2px)
  }
  .experience-header, #projects-container .projects-page-title {
    font-size: 1.75rem;
  }
  .hide-mobile {
    display: none;
  }
  .experience-bullet-point {
    font-size: .8rem;
  }
  .experience-bullet-point::marker {
    font-size: 1rem;
  }
  .mobile-only {
    display: block
  }
  #projects-container .project-block .project-desc {
    font-size: 1rem;
  }
  .home-description {
    font-size: 1.2rem;
  }
  .home-header {
    font-size: 2.5rem;
  }
  .home-preheader {
    font-size: 1rem;
  }
  .home-image-wrapper {
    padding: .75rem;
    width: 125px;
    height: 125px;
  }
  .home-image {
    width: 125px;
    height: 125px;
  }
  .contact-container div a .small-logo {
    width: 24px;
    height: auto;
  }
  #projects-container .project-block .project-caption {
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .desktop-height-matching {
    height: 21.25vw
  }
  .desktop-height-matching .carousel-picture {
    height: calc(21.25vw - 1px);
    border: 1px solid rgb(50, 50, 50)
  }
}

.hide-block {
  display: none
}

