* {
  margin: 0px;
  max-width: 100%;
}
#root {
  min-height: 100%;
}
body {
  background-color: #9797e2;
}
#navbar {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #656565;
}
#navbar a {
  margin-left: 1em;
  font-size: larger;
  text-decoration: none;
  color: #9797e2;
}
#navbar a:hover {
  color: purple;
}
#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
#home-container h2 {
  text-align: center;
}
#home-container img {
  width: 75%;
}
#home-container .home-info {
  align-self: baseline;
}
.small-logo {
  height: 24px;
  width: 24px;
}
.contact-container {
  display: flex;
  flex-direction: row;
}
.contact-container div {
  margin: 0.5em;
  display: flex;
  align-items: center;
}
.contact-container div a {
  margin-left: 0.5em;
  color: blue;
}
.contact-container div a:hover {
  color: purple;
}
#contact-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  align-items: center;
}
#contact-page img {
  width: 50%;
}
#contact-page h2 {
  text-align: center;
}
#projects-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  align-items: center;
}
#projects-container .project-block {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
#projects-container .project-block .media {
  margin-top: 1em;
  width: 100%;
  max-width: 560px;
}
#projects-container .project-block p {
  margin-top: 0.5em;
  max-width: 65%;
}
#projects-container .project-block .short-desc {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  max-width: 100%;
  text-align: center;
}
.carousel {
  width: 100%;
  overflow: hidden;
  height: 50vw;
  max-height: 380px;
  position: relative;
  transition: 0.25s;
  border-radius: 5%;
}
.arrows {
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.75;
}
.arrows :hover {
  cursor: pointer;
}
.arrow {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  background-color: #2d2c2c;
  color: white;
  border-radius: 10%;
  font-size: larger;
}
.carousel-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.25s;
}
.carousel-picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-picture img {
  height: 100%;
  width: 100%;
}
